@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overscroll-behavior: none;
  font-family: system-ui, -apple-system, sans-serif;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

button,
a,
svg,
img {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.safe-pt {
  padding-top: env(safe-area-inset-top, 20px);
}
.safe-pb {
  padding-bottom: env(safe-area-inset-bottom, 60px);
}
